*{
    margin: 0;
    padding: 0;

    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header{
    margin: 0;
    width: 100vw;
    height: 90px;
    background-color: #00bfff;
    color: #fff;
    position: fixed;
    justify-content: space-between;
}

#toggle{
    display: none;
}
header label{
    margin-top: 20px;
    margin-inline-end: 5px;
}
header label .trace{
    background-color: #000;
    height: 5px;
    width: 30px;
    margin: 2px;

}
header h1{

    margin-top: 30px;
}

header nav ul li{
    color: #000;
}

}